	<div class="py-8 row">
		<div class="col-sm-1">
			<img alt="{{ doc.name }}" src="{{ doc.image }}"/>
		</div>
		<div class="col">
			<a class="font-size-lg" href="{{ doc.route }}">{{ doc.name }}</a>
			<p class="text-muted">By {{ doc.author }}</p>
			<!-- Thêm nút xóa ẩn -->
			<button class="delete-button" onclick='deleteRecord("{{ doc.name }}")'>Delete</button>
            <button class="add-button" onclick='addRecord()'>Add</button>
            <button class="update-button" onclick='updateRecord("{{ doc.name }}")'>Edit</button>
		</div>
	</div>
<style>
	.col {
		flex: 0 0 calc(33.33% - 10px);
		margin-bottom: 20px;
		background-color: #ecf0f1;
		padding: 10px;
		border-radius: 4px;
	}
    .update-button {
		background-color: #27ae60;
		color: #fff;
		border: none;
		padding: 8px 15px;
		cursor: pointer;
		border-radius: 4px;
		font-size: 16px;
		transition: background-color 0.3s;
	}

	.update-button:hover {
		background-color: #219952;
	}
	.add-button {
		background-color: #27ae60;
		color: #fff;
		border: none;
		padding: 8px 15px;
		cursor: pointer;
		border-radius: 4px;
		font-size: 16px;
		transition: background-color 0.3s;
	}

	.add-button:hover {
		background-color: #219952;
	}
    .delete-button {
        background-color: #3498db;
        color: #fff;
        border: none;
        padding: 8px 15px;
        cursor: pointer;
        transition: background-color 0.3s;
        font-size: 16px;
    }

    .delete-button:hover {
        background-color: #2980b9;
    }
</style>
<script>
    // Hàm xóa
    function deleteRecord(recordName) {
        frappe.confirm(
            "Bạn có chắc chắn muốn xóa bản ghi này không?",
            function() {
                frappe.call({
					type: "GET",
                    method: 'my_app.api.article.delete_article',
                    args: {
                        record_name: recordName
                    },
                    callback: function(response) {
						console.log(response)
                        if (response.message === 'success') {
                            frappe.msgprint('Bản ghi đã được xóa thành công.');
                            // Có thể thực hiện các hành động khác sau khi xóa
							window.location.reload(true);
                        } else {
                            frappe.msgprint('Không thể xóa bản ghi.');
                        }
                    }
                });
            }
        );
    }
    function addRecord() {
        frappe.confirm(
            "Bạn có chắc chắn muốn thêm bản ghi này không?",
            function() {
                frappe.call({
					type: "GET",
                    method: 'my_app.api.article.add_list',
                    args: {
                    },
                    callback: function(response) {
						console.log(response)
                        if (response.message === 'success') {
                            frappe.msgprint('Bản ghi đã được xóa thành công.');
							window.location.reload(true);
                        } else {
                            frappe.msgprint('Không thể xóa bản ghi.');
                        }
                    }
                });
            }
        );
    }
    function updateRecord(recordName) {
        frappe.confirm(
            "Bạn có chắc chắn muốn sửa bản ghi này không?",
            function() {
                frappe.call({
					type: "GET",
                    method: 'my_app.api.article.update_list',
                    args: {
                        record_name: recordName
                    },
                    callback: function(response) {
						console.log(response)
                        if (response.message === 'success') {
                            frappe.msgprint('Bản ghi đã được sửa thành công.');
							window.location.reload(true);
                        } else {
                            frappe.msgprint('Không thể sửa bản ghi.');
                        }
                    }
                });
            }
        );
    }
</script>